---
const { title, url } = Astro.props;
const iconURL = `https://s2.googleusercontent.com/s2/favicons?domain_url=${url}&sz=32`;
import { Image } from 'astro:assets';
---

<Image src={iconURL} alt="" width=18 height=18 class="icon" /> <a href={url}>{title}</a>

