:root {
	--fg: #3c3836;
	--purple: #8f3f71;
	--bg: #fbf1c7;
	--bg1: #ebdbb2;
}

@media (prefers-color-scheme: dark) {
  :root {
		--fg: #ebdbb2;
		--purple: #d3869b;
		--bg: #282828;
		--bg1: #3c3836;
	}
}

@font-face {
	font-family: 'Atkinson';
	src: url('/fonts/atkinson-regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Atkinson';
	src: url('/fonts/atkinson-bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

body {
	color: var(--fg);
	background: var(--bg);

	font-size: 20px;
	font-family: 'Atkinson', sans-serif;

	padding: 0;
	margin: 0;

	display: flex;
  flex-direction: column;
	min-height: 100vh;
}

main {
	width: 720px;
	max-width: calc(100% - 2em);
	margin: auto;
	padding: 3em 1em;
	flex-grow: 1;
}

a {
	color: var(--purple);
	text-decoration: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
